<div id="map-canvas" data-locations="<%= @locations %>" data-latitude="<%= @user_location.latitude %>" data-longitude="<%= @user_location.longitude %>">
</div>

<div id="list-canvas">
  <% @events.each do |event| %>
  <div class="jumbotron2">
    <h2><%= event.title %></h2>
    <h3><%= event.address %></h3>
    <h4> Guests. <span><%= event.num_people_attending %> / <%= event.max_people %> </span></h4><hr>
    <p><%= sanitize(truncate(event.description, length: 75)) %></p>
    <p><%= button_tag "Join Event", class: "btn btn-primary btn-lg", id: "event-show-button", "data-toggle"=> "modal", "data-target" => "#event-show", "data-event" => event.to_json %></p>
  </div>
  <% end %>
</div>


<%= render "events/form" %>
<%= render "events/show" %>