<div id="map-canvas" data-locations="<%= @locations %>" data-latitude="<%= @location.latitude %>" data-longitude="<%= @location.longitude %>"></div>
<p><%= "user lat/lng: #{@location.ll}" %></p>

<div class="row">
  <div class="col-md-3 col-sm-12 col-xs-12">

<!-- event div -->
<% @events.each do |event| %>
    <div class="panel panel-primary text-center no-border bg-color-red red">
      <div class="panel-left pull-left red">
          <i class="fa fa-users fa-5x"></i>
      </div>
      <div class="panel-right pull-right">
        <h4><%= event.num_people_attending %>/<%= event.max_people %></h4>
        <strong><%= event.title %></strong>
      </div>
    </div>
<% end %>
<!-- event div -->

  </div>
</div>