<div id="map-canvas" data-locations="<%= @locations %>" data-latitude="<%= @user_location.latitude %>" data-longitude="<%= @user_location.longitude %>">
</div>

<div id="list-canvas">
  <% @events.each do |event| %>
  <div class="jumbotron2">
    <h4><%= event.title %></h4>
    <h5><%= event.address %></h5>
    <h6> Guests. <span><%= event.num_people_attending %> / <%= event.max_people %> </span></h6><hr>
    <p><%= event.description %></p>
    <p><a class="btn btn-primary btn-sm" href="#" role="button">Join Event</a></p>
  </div>
  <% end %>
</div>


<%= render "events/form" %>
<%= render "events/show" %>

<div id="footer">
  <div clas="col-lg-12">
  <hr>
    <p>Copyright &copy; Buzz Free Social 2015</p>
  </div>
</div>


