<div id="map-canvas" data-locations="<%= @locations %>" data-latitude="<%= @user_location.latitude %>" data-longitude="<%= @user_location.longitude %>"></div>
<p><%= "user lat/lng coords: #{@user_location.ll}" %></p>

<div class="row">
  <% @events.each do |event| %>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-border bg-color-red red">
      <div class="panel-left pull-left red">
          <%= image_tag(event.creator.image)%>
      </div>
      <div class="panel-right pull-right">
        <h3><%= event.title %></h3>
      </div>
    </div>
  </div>
<% end %>
</div>

